@import "./vars.scss";
@import "./templates.scss";

html,
body,
body#root {
  @extend %base-size;
  font-size: 100%;
  background-color: $background-color;
  color: $text-color;
  padding: 0;
  margin: 0;
  font-family: $font-roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
