@import "../../../styles.scss";

.validation-name {
  font: $font-roboto;
  font-size: $fz-base;
  margin-top: 15px;
  &:first-child {
    margin-top: 0;
  }
}
.validation-input {
  @include input(validation);
  outline: none;
}
.comment-input {
  @include input(comment);
  outline: none;
}
.validation-error {
  color: red;
  position: absolute;
}
