@import "../styles.scss";

.user-page {
  min-height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-row-end: 1fr;
  grid-gap: 10px;
  button {
    @include button($theme-color);
  }
}
